QLabel {
    color: #333;
}

QLineEdit {
    background-color: #fff;
    border: 1px solid #5ab3ee, 101, 101);
    padding: 5px;
    border: none;
    border-radius: 3px;
}

QPushButton {
    background-color: #0c9af8 147, 216);
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
}

QPushButton:hover {
    background-color: #2416e0;  /* Nova cor ao passar o mouse sobre o botão */
}

QPushButton:pressed {
    background-color: #ef08f7);  /* Nova cor ao clicar no botão */
}

QTableWidget {
    border: 1px solid #85aaf0;
}

QTableWidget QHeaderView::section {
    background-color: #7d85f0;
    color: #fff;
    padding: 5px;
}

QTableWidget QHeaderView::section:horizontal {
    border-top: 1px solid #b9cbec;
}