QLabel {
    color: #333;
    font-size: large;
}

QLineEdit {
    background-color: #fff;
    border: 1px solid #eeeeee;
    padding: 5px;
    border: none;
    border-radius: 3px;
}

QPushButton {
    background-color: #c7e0f7, 158, 192), 116, 192) 147, 216);
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    font-height: bold
}

QPushButton:hover {
    background-color: #2416e0;  /* Nova cor ao passar o mouse sobre o botão */
}

QPushButton:pressed {
    background-color: #ef08f7);  /* Nova cor ao clicar no botão */
}

QTableWidget {
    border: 1px solid #85aaf0;
}

QTableWidget QHeaderView::section {
    background-color: #7d85f0;
    color: #fff;
    padding: 5px;
}

QTableWidget QHeaderView::section:horizontal {
    border-top: 1px solid #b9cbec;
}